# Data mode (mock or api)
NEXT_PUBLIC_DATA_MODE=mock

# Google Maps API Key
# Get your key from: https://console.cloud.google.com/google/maps-apis
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_key_here

# Environment (dev or demo or production)
NEXT_PUBLIC_ENVIRONMENT=demo
